$primaryBgcolor:#FFF7ED;
$primaryLinkcolor:#4D4D4D;
$primaryButtoncolor:#FF8C38;

@mixin linkAsButton($bgcolor,$textcolor,$width,$height,$fontsize){
    height:$height;
    width:$width;
    padding:10px;
    font-size: $fontsize;
    font-family: inherit;
    font-weight: 700;
    display:flex;
    align-items: center;
    justify-content: center;
    color:$textcolor;
    background-color: $bgcolor;
    border-radius:5px;
    text-decoration: none;
}

body{
    margin:0;
    padding:0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height:100%;
}

.header{
    display:flex;
    position:fixed;
    top:0;
    width:100%;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    height:90px;
    background-color: $primaryBgcolor;

    & > a{
        color:black;
        font-family:inherit;
        font-size:3.6vh;
        text-decoration: none;
        font-weight: bold;
        margin-left: 40px;
    }

    nav a{
        margin-right:40px;
        color:$primaryLinkcolor;
        font-family:inherit;
        font-size:20px;
        text-decoration:none;

        &:hover{
            text-decoration: underline;
        }
    }
}

.image-container{
    position:relative;

   & > img{
        width: 100%;
        height: 900px;
        object-fit:cover;
        filter: brightness(40%);
        object-fit:cover;
    }

    & > p{
        position:absolute;
        color:white;
        font-size: 4.3vw;
        font-weight: bold;
        left:40%;
        top: 20%;
        transform: translate(-50%,-40%);
    }
    p:nth-child(3){
        position:absolute;
        color:white;
        font-size: 30px;
        font-weight: 200;
        left:40%;
        top: 50%;
        transform: translate(-50%,-40%);
    }
    .findVanLink{
        @include linkAsButton($primaryButtoncolor,white ,70% ,40px ,30px);
        position:absolute;
        left:50%;
        top:80%;
        transform: translate(-50%,-50%);
    }
}
